.app-header {
   .my-nav {
     height: 60px;
   }
   .app-image{
     margin-bottom: 3px;
     height: 30px;
  }
  .nav-list{
    color: #FFF;
  }

  .nav-item-cust{
     color: #FFF;
     margin-left: 20px;
     font-weight: bold;
  }
  .active {
      border-bottom: 2px solid red;
  }
  a {
    text-decoration: none;
  }

 }
